# @todo remove: Temporary during Intl development
locale/
*.??-??.*

# Resouces just on local machine
/local

/vendor/
!/vendor/README.txt

/data/
!/data/README.txt

/public/data/
!/public/data/README.txt

/public/dist/
!/public/dist/README.txt

/public/robots.txt
/public/robots-*.txt
/public/.htaccess
/public/favicon.ico

/modules/
!/modules/README.txt
!/modules/*.example
!/modules/.gitkeep
/.gitmodules

/config/
!/config/README.txt
!/config/*.json.example


/tmp/
/public/tmp/
*~

/composer.json
/composer.lock
/.vscode/*
/.github/*
!/.github/copilot-instructions.md
/*.code-workspace
/*.cache
