<IfModule mod_rewrite.c>
    RewriteEngine On
    RewriteBase /

    # Deny all dot files except .well-known
    RewriteCond %{REQUEST_URI} !^/.well-known
    RewriteRule "(^|/)\." - [F]

    RewriteCond %{DOCUMENT_ROOT}/%{REQUEST_URI} !-l
    RewriteCond %{DOCUMENT_ROOT}/%{REQUEST_URI} !-f
    RewriteCond %{DOCUMENT_ROOT}/%{REQUEST_URI} !-d
    RewriteCond %{REQUEST_URI} !\.(7z|aac|avi|bz2|css|eot|flac|flv|gz|ico|jpeg|jpg|js|json|map|mkv|mov|mp3|mp4|mpeg|mpg|ogg|ogv|opus|otf|pdf|png|rar|svg|tar|ttf|txt|wav|webm|webp|wmv|woff|woff2|xml|zip)$
    RewriteRule ^(.*)$ /index.php/$1 [L]
</IfModule>

<IfModule !mod_rewrite.c>
    FallbackResource /index.php
</IfModule>
